<div class="bg-dark">
  <div class="container">
    <div class="row p-4">
      <div class="col-2 mt-2 text-center text-light">
        お問い合わせフォーム
      </div>
      <div class="col-10">
      </div>
    </div>
  </div>
</div>

<% if flash[:notice_contact].present? %>
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <%= flash[:notice_contact] %>
    </div>
  </div>
<% end %>

<div class="container mt-5 mb-5">
  <div class="row text-center">
    <p>迷惑行為や誤った情報などについてのお問い合わせは</p>
    <p>下記にお願い致ます。</p>
  </div>
</div>

<% if user_signed_in? %>
<% else %>
 <div class="container mt-5 mb-5">
   <div class="row text-center">
      <p>
        （注）お問い合わせはログイン状態でないと行えません。
      </p>
   </div>
 </div>
<% end %>

<div class="container">
  <div class="row border border-dark">
  </div>
</div>

<% if user_signed_in? %>
  <%= form_with model: @contact, url: contacts_path, method: :post do |f| %>
    <div class="container mt-5">
      <div class="row mh-100" style="height: 350px;">
        <%= f.text_area :content %>
      </div>
      <div class="row mt-5 justify-content-center">
        <div class="col-3">
          <%= f.submit "送信する", data: { confirm: "お問い合わせの内容は修正はできません" }, class: "form-control btn btn-outline-primary"%>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
<% end %>