* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 50px 0;
}


#tab-menu {
  display: flex;
}

#tab-menu li {
  list-style-type: none;
}

#tab-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  border: 1px solid #000;
}

#tab-menu .active {
  background: #fff;
  color: #000;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
  
  background: #fff;
  border: 1px solid #000;
}

#tab-contents p {
  color: #000;
  line-height: 2.5;
}