<div class="row justify-content-center">
  <div class="col-2 pt-1 text-center border border-bottom-0 border-secondary-subtle bg-light">
    <%= link_to "会計経理関係", softs_path( company: search_soft, work_id: 1), class: "text-dark text-decoration-none" %>
  </div>
  <div class="col-2 pt-1 text-center">
    <%= link_to "労務関係", softs_path(company: search_soft, work_id: 2), class: "text-decoration-none" %>
  </div>
  <div class="col-2 pt-1 text-center">
    <%= link_to "利用者関係", softs_path(company: search_soft, work_id: 3), class: "text-decoration-none" %>
  </div>
</div>