<div class="bg-dark">
  <div class="container">
    <div class="row p-4">
      <div class="col-2 text-center text-light">
        施設一覧
      </div>
      <div class="col-7">
      </div>
      <div class="col-3 text-center text-light">
         ここにソート機能 
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row p-2 enclosure_color">
    <table class="table m-0">
      <thead class="table-dark text-center">
        <tr>
          <th>施設名</th>
          <th>登録メールアドレス</th>
          <th>閲覧数</th>
          <th>公開ステータス</th>
        </tr>
      </thead>
      
      <% @users.each do |user| %>
        <tbody class="text-center">
          <tr>
          <td><%= link_to user.name, admin_facility_path(user.id), class: "text-dark" %></td>
          <td><%= user.email %></td>
          <td>  
          <!--閲覧数 %= user.impressions_count %> -->
          </td>
            <% if user.is_deleted == true %>
              <td class="text-secondary">退会</td>
            <% elsif user.is_deleted == false %>
              <td class="text-success">有効</td>
            <% else %>
              <td>なし</td>
            <% end %>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>
