<div class="bg-dark">
  <div class="container">
    <div class="row p-4">
      <div class="col-2 text-center text-light">
        投稿内容
      </div>
      <div class="col-10">
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row border-bottom">
    <div class="col-3">
      <h5>投稿者施設</h>
    </div>
    <div class="col-3">
      <p><%= @contact.user.name %></p>
    </div>
  </div>
</div>

<div class="container mt-5 ">
  <div class="row">
    <h5>投稿内容<h>
  </div>
  <div class="row p-3 round bg-danger-subtle">
    <%= safe_join(@contact.content.split("\n"),tag(:br)) %>
  </div>
</div>