.bg_image {
  background-image: image-url('simplewave.jpg');
}

.bg_image_white {
  background-image: image-url('simplewave_white.jpg');
}

.bg_image_yellow {
  background-size: cover;
  background-image: image-url('yellowwave.png');
}

.bg_image_blue {
  background-size: cover;
  background-image: image-url('bulewave.png');
}

.bg_image_water {
  background-size: cover;
  background-image: image-url('waterbule.png');
}

.bg_image_orange {
  background-size: cover;
  background-image: image-url('orangeback.png');
}